.button{
    background-color: black;
    border: 1px solid yellow;
    padding: 1em;
    border-radius: 1em;
    color: wheat;
    cursor: pointer;
    width: fit-content;
    height: auto;
    clear: both;
}
.container{
    width: 15em;
    margin: 0 0.2em;
    float: left;
}