.container{
    width: 15em;
    margin: 0 0.2em;
    margin-bottom: 1em;
    float: left;
    position: relative;
}
.container.lightmode{
    color: black;
}
.container.darkmode{
    color: wheat;
}

.pic{
    width: 100%;
}

.title{
    font-weight: bold;
    margin-bottom: 0.3em;
}


.channel , .views{
    font-size: small;
    color: #ccc;
    margin-bottom: 0.2em;
}

.views span{
    padding: 0 0.5em;
}

.button{
    margin-top: 0.2em;
    padding: 0.5em 1em;
    border-radius: 1em;
    cursor: pointer;
    width: fit-content;
    height: auto;
    clear: both;
}

.button.lightmode:hover{
    background-color: rgb(115, 115, 115);
}

.button.darkmode:hover{
    background-color: grey;
}

.button.lightmode{
    background-color: black;
    border: 1px solid yellow;
    color: wheat;
}

.button.darkmode{
    background-color: #bbb;
    border: 1px solid yellow;
    color: black;
}

.close {
    position: absolute;
    right:0;
}

.edit{
    position: absolute;
    right: 3em;
}

